* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #d2d79a;
}

.main-header {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    margin: auto;
    width: 900px;
}

.main-header > div {
    display: inline-block;
}

.main-header__brand {
    text-decoration: none;
    height: 180px;
    display: inline-block;
    margin-right: 30px;
}

.main-header__brand img {
    height: 100%;
}

.title-header div{
    margin-left: 10px;
    vertical-align: middle;
    border: 1px solid black;
    padding: 5px 3px;
    display: inline-block;
    font-family: Roboto;
    text-align: right;
}

.title-header__title {
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #821C1C;    
}

.title-header__contacts {
    font-size: 22px;
    line-height: 26px;
}